In [77]:
import pandas as pd

In [78]:
halan_regression3 = pd.read_csv('csv/weekly_data2.csv')
halan_regression3['average']=halan_regression3.iloc[:,1:5].mean(axis=1)
df = halan_regression3.copy()
df['w1']=df['w1']/df['average']
df['w2']=df['w2']/df['average']
df['w3']=df['w3']/df['average']
df['w4']=df['w4']/df['average']

columns = ['w1','w2','w3','w4']
deseasonalized = pd.DataFrame()

deseasonalized['Month']=[halan_regression3['Month'][j] for j in range(len(df)) for i in columns]
deseasonalized['Week']=[int(i[-1]) for j in range(len(df)) for i in columns]

deseasonalized['Original']=[halan_regression3[i][j] for j in range(len(df)) for i in columns]
deseasonalized['Delivered'] =[halan_regression3[i][j]/df[i].mean(axis=0) for j in range(len(df)) for i in columns]       
deseasonalized

    Month  Week    Original   Delivered
0       6     1  509.000000  441.331985
1       6     2  388.000000  408.446103
2       6     3  405.000000  416.006596
3       6     4  343.000000  371.538133
4       7     1  553.000000  479.482491
5       7     2  342.000000  360.022081
6       7     3  353.000000  362.593403
7       7     4  293.000000  317.378055
8       8     1  373.000000  323.412241
9       8     2  375.000000  394.761054
10      8     3  514.000000  527.968865
11      8     4  649.000000  702.997808
12      9     1  630.000000  546.245876
13      9     2  450.000000  473.713264
14      9     3  500.000000  513.588390
15      9     4  700.000000  758.241087
16     10     1  520.000000  450.869612
17     10     2  537.000000  565.297829
18     10     3  410.000000  421.142480
19     10     4  159.000000  172.229047
20     11     1  461.613733  400.245393
21     11     2  415.262743  437.145487
22     11     3  417.597030  428.945972
23     11     4  412.646005  446.978794

In [79]:
# # evaluate an ridge regression model on the dataset
# from numpy import mean
# from numpy import std
# from numpy import absolute

# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import RepeatedKFold
# from sklearn.linear_model import Ridge

# # load the dataset

# dataframe = deseasonalized
# data = dataframe.values

# X, y = data[:, :-1], data[:, -1]
# print(y)
# print(X)
# # define model evaluation method
# cv = RepeatedKFold(n_splits=10, n_repeats=30, random_state=1)
# # define model
# model = Ridge(alpha=0.99)

# # fit model
# model.fit(X, y)

# # evaluate model
# scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# # force scores to be positive
# scores = absolute(scores)
# print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

In [80]:
# row = [12, 1]
# # make a prediction
# yhat = model.predict([row])
# # summarize prediction
# print('Predicted: %.3f' % yhat)

In [81]:
# from numpy import arange
# from sklearn.model_selection import GridSearchCV

# # define grid
# grid = dict()
# grid['alpha'] = arange(0, 1, 0.01)
# search = GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# # perform the search
# results = search.fit(X, y)
# # summarize
# print('MAE: %.3f' % results.best_score_)
# print('Config: %s' % results.best_params_)

In [82]:
# from sklearn.linear_model import RidgeCV
# from numpy import mean
# from numpy import std
# from numpy import absolute
# from numpy import arange
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import RepeatedKFold


# # load the dataset

# dataframe = deseasonalized
# data = dataframe.values

# X, y = data[:, :-1], data[:, -1]
# print(y)
# print(X)
# # define model evaluation method
# cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# # define model

# model = RidgeCV(alphas=arange(0, 1, 0.01), cv=cv, scoring='neg_mean_absolute_error')
# # fit model
# model.fit(X, y)

# # evaluate model
# scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# # force scores to be positive
# scores = absolute(scores)
# print('Mean MAE: %.3f (%.3f)' % (mean(scores), std(scores)))
# print('alpha: %f' % model.alpha_)

pip install pycaret

In [83]:
deseasonalized['Date'] = deseasonalized['Month'].astype(str) + deseasonalized['Week'].astype(str)

In [84]:
deseasonalized

    Month  Week    Original   Delivered Date
0       6     1  509.000000  441.331985   61
1       6     2  388.000000  408.446103   62
2       6     3  405.000000  416.006596   63
3       6     4  343.000000  371.538133   64
4       7     1  553.000000  479.482491   71
5       7     2  342.000000  360.022081   72
6       7     3  353.000000  362.593403   73
7       7     4  293.000000  317.378055   74
8       8     1  373.000000  323.412241   81
9       8     2  375.000000  394.761054   82
10      8     3  514.000000  527.968865   83
11      8     4  649.000000  702.997808   84
12      9     1  630.000000  546.245876   91
13      9     2  450.000000  473.713264   92
14      9     3  500.000000  513.588390   93
15      9     4  700.000000  758.241087   94
16     10     1  520.000000  450.869612  101
17     10     2  537.000000  565.297829  102
18     10     3  410.000000  421.142480  103
19     10     4  159.000000  172.229047  104
20     11     1  461.613733  400.245393  111
21     11     2  415.262743  437.145487  112
22     11     3  417.597030  428.945972  113
23     11     4  412.646005  446.978794  114

In [85]:
# create 12 month moving average
data = deseasonalized
data['MA12'] = data['Original'].rolling(5).mean()# plot the data and MA
import plotly.express as px
fig = px.line(data, x='Series', y=["Original", "MA12"], template = 'plotly_dark')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Month', 'Week', 'Original', 'Delivered', 'Date', 'MA12'] but received: Series

In [ ]:
import numpy as np
data['Series'] = np.arange(1,len(data)+1)

In [ ]:
data

    Month  Week    Original   Delivered  Series        MA12
0       6     1  509.000000  441.331985       1         NaN
1       6     2  388.000000  408.446103       2         NaN
2       6     3  405.000000  416.006596       3         NaN
3       6     4  343.000000  371.538133       4         NaN
4       7     1  553.000000  479.482491       5  439.600000
5       7     2  342.000000  360.022081       6  406.200000
6       7     3  353.000000  362.593403       7  399.200000
7       7     4  293.000000  317.378055       8  376.800000
8       8     1  373.000000  323.412241       9  382.800000
9       8     2  375.000000  394.761054      10  347.200000
10      8     3  514.000000  527.968865      11  381.600000
11      8     4  649.000000  702.997808      12  440.800000
12      9     1  630.000000  546.245876      13  508.200000
13      9     2  450.000000  473.713264      14  523.600000
14      9     3  500.000000  513.588390      15  548.600000
15      9     4  700.000000  758.241087      16  585.800000
16     10     1  520.000000  450.869612      17  560.000000
17     10     2  537.000000  565.297829      18  541.400000
18     10     3  410.000000  421.142480      19  533.400000
19     10     4  159.000000  172.229047      20  465.200000
20     11     1  461.613733  400.245393      21  417.522747
21     11     2  415.262743  437.145487      22  396.575295
22     11     3  417.597030  428.945972      23  372.694701
23     11     4  412.646005  446.978794      24  373.223902

In [ ]:
# drop unnecessary columns and re-arrange
data.drop(['Date', 'MA12'], axis=1, inplace=True)
data = data[['Series', 'Month', 'Week', 'Delivered']]

KeyError: "['Date'] not found in axis"

In [ ]:
# split data into train-test set
train = data[data['Month'] < 11]
test = data[data['Month'] >= 11]# check shape
train.shape, test.shape

((20, 4), (4, 4))

In [ ]:
deseasonalized

    Month  Week    Original   Delivered  Series        MA12
0       6     1  509.000000  441.331985       1         NaN
1       6     2  388.000000  408.446103       2         NaN
2       6     3  405.000000  416.006596       3         NaN
3       6     4  343.000000  371.538133       4         NaN
4       7     1  553.000000  479.482491       5  439.600000
5       7     2  342.000000  360.022081       6  406.200000
6       7     3  353.000000  362.593403       7  399.200000
7       7     4  293.000000  317.378055       8  376.800000
8       8     1  373.000000  323.412241       9  382.800000
9       8     2  375.000000  394.761054      10  347.200000
10      8     3  514.000000  527.968865      11  381.600000
11      8     4  649.000000  702.997808      12  440.800000
12      9     1  630.000000  546.245876      13  508.200000
13      9     2  450.000000  473.713264      14  523.600000
14      9     3  500.000000  513.588390      15  548.600000
15      9     4  700.000000  758.241087      16  585.800000
16     10     1  520.000000  450.869612      17  560.000000
17     10     2  537.000000  565.297829      18  541.400000
18     10     3  410.000000  421.142480      19  533.400000
19     10     4  159.000000  172.229047      20  465.200000
20     11     1  461.613733  400.245393      21  417.522747
21     11     2  415.262743  437.145487      22  396.575295
22     11     3  417.597030  428.945972      23  372.694701
23     11     4  412.646005  446.978794      24  373.223902

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PassiveAggressiveRegressor
data = deseasonalized

# drop unnecessary columns and re-arrange

data = data[['Series', 'Month', 'Week', 'Original']] 
x = np.array(data.drop(["Series","Original"], 1))
y = np.array(data["Original"])
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)
model = PassiveAggressiveRegressor()
model.fit(xtrain, ytrain)
ypred = model.predict(xtest)

pred_del = pd.DataFrame(data={"Predicted Delivered": ypred.flatten()})
print(pred_del.head())

   Predicted Delivered
0           352.520426
1           436.884079
2           268.156772
3           434.562585
4           349.038185

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_13480\4283678594.py:10: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

In [ ]:

future_df = pd.DataFrame()
future_df['Month'] =  [i for i in  np.arange(1,13) for j in  np.arange(1,5)]   
future_df['Week'] = [j for i in  np.arange(1,13) for j in  np.arange(1,5)]  
future_df['Series'] = np.arange(0,(48))
future_df.head()

   Month  Week  Series
0      1     1       0
1      1     2       1
2      1     3       2
3      1     4       3
4      2     1       4

In [ ]:
predictions_future = model.predict( future_df.drop(['Series'],axis=1,))

c:\Users\moham\OneDrive - University of Nottingham Malaysia Campus\Future University\Halan_Dashboard\project_env\lib\site-packages\sklearn\base.py:443: UserWarning:

X has feature names, but PassiveAggressiveRegressor was fitted without feature names

In [ ]:
predictions = pd.DataFrame(predictions_future, columns=['Label'])
future_df['Label']=predictions['Label']

In [ ]:
future_df

    Month  Week  Series       Label
0       1     1       0   77.396359
1       1     2       1   91.635156
2       1     3       2  105.873953
3       1     4       3  120.112750
4       2     1       4  125.193062
5       2     2       5  139.431858
6       2     3       6  153.670655
7       2     4       7  167.909452
8       3     1       8  172.989764
9       3     2       9  187.228561
10      3     3      10  201.467358
11      3     4      11  215.706155
12      4     1      12  220.786467
13      4     2      13  235.025263
14      4     3      14  249.264060
15      4     4      15  263.502857
16      5     1      16  268.583169
17      5     2      17  282.821966
18      5     3      18  297.060763
19      5     4      19  311.299560
20      6     1      20  316.379871
21      6     2      21  330.618668
22      6     3      22  344.857465
23      6     4      23  359.096262
24      7     1      24  364.176574
25      7     2      25  378.415371
26      7     3      26  392.654168
27      7     4      27  406.892965
28      8     1      28  411.973276
29      8     2      29  426.212073
30      8     3      30  440.450870
31      8     4      31  454.689667
32      9     1      32  459.769979
33      9     2      33  474.008776
34      9     3      34  488.247573
35      9     4      35  502.486370
36     10     1      36  507.566681
37     10     2      37  521.805478
38     10     3      38  536.044275
39     10     4      39  550.283072
40     11     1      40  555.363384
41     11     2      41  569.602181
42     11     3      42  583.840978
43     11     4      43  598.079775
44     12     1      44  603.160086
45     12     2      45  617.398883
46     12     3      46  631.637680
47     12     4      47  645.876477

In [ ]:
concat_df

    Series  Month  Week  Original       Label
0        1      6     1     509.0         NaN
1        2      6     2     388.0         NaN
2        3      6     3     405.0         NaN
3        4      6     4     343.0         NaN
4        5      7     1     553.0         NaN
..     ...    ...   ...       ...         ...
43      43     11     4       NaN  598.079775
44      44     12     1       NaN  603.160086
45      45     12     2       NaN  617.398883
46      46     12     3       NaN  631.637680
47      47     12     4       NaN  645.876477

[72 rows x 5 columns]

In [86]:
concat_df = pd.concat([data,future_df], axis=0)


fig = px.line(concat_df, x="Series", y=["Original", "Label"], template = 'plotly_dark')
fig.show()